In [4]:
import numpy as np
import pandas as pd

In [14]:
x = True
type(x)

bool

In [15]:
5 / 2

2

In [16]:
5 / 2.0

2.5

In [46]:
# LISTS
nums = [5, 5.0, 'five']
nums              # normally you'd need to print
type(nums)
len(nums)
nums[0]
nums[-1]
nums[2] = 6       # lists are mutable
nums.append(7)    # append is a method on lists
nums.remove(5)
sorted(nums)      # sorted is a python function that takes in a list
                  # default reverse = False is not stated
sorted(nums, reverse = True)

days_of_the_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekdays = days_of_the_week[0:5]
weekdays[0:2]
days_of_the_week[5:]       # weekends
days_of_the_week[:5]       # weekdays
days_of_the_week[0:7:3]    # the third elements means every third element

['Monday', 'Thursday', 'Sunday']

In [ ]:
# TUPLES
# like immutable lists

In [47]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# CONDITIONALS

x = 11
if x > 10:
    print "x is more than 10!"
    print "hooray"
elif x > 100:
    print "x is huge"


    
# stops checking as soon as one conditional is satisfied

x is more than 10!
hooray

In [2]:
# DICTIONARIES

'''
dictionary = {
    key1: value1
    key2: value2
}
'''

# keys have to be a string

hunter = {
    "age": 23,
    "location": "Baltimore",
    "gender": "Male",
    "occupation": "the teacher"
}

lauren = {
    "age": 29,
    "location": "Baltimore",
    "gender": "Female",
    "occupation": "a friend"
}

people = [hunter, lauren]

In [58]:
# ITERATING

days_of_the_week
for day in days_of_the_week: # the "day" variable can be anything
    print "the day is" + day

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [74]:
for person in people:
    print type(person)
    print str(person['age']) + " and lives in"+person['location']

<type 'dict'>
23 and lives inBaltimore
<type 'dict'>
29 and lives inBaltimore

In [3]:
hunter.items()   # produces a list

[('gender', 'Male'),
 ('age', 23),
 ('location', 'Baltimore'),
 ('occupation', 'the teacher')]

In [4]:
hunter.items()[0][0]

'gender'

In [18]:
'''
for element in hunter.items():
    print element[0]
    
for first, second in hunter.items():
    print second
'''

for a in hunter.items():
    print a

print ' '

for a, b in hunter.items():
    print  a

print ' ' 

for a, b in hunter.items():
    print  b

('gender', 'Male')
('age', 23)
('location', 'Baltimore')
('occupation', 'the teacher')

gender
age
location
occupation

Male
23
Baltimore
the teacher

In [34]:
mystuff = [['a', 0, 'avocado'], ['b', 2, 'blue'], ['c', 3, 'charteuse']]


for a in mystuff:
    print a
    
print ' '
    
for a, b, c in mystuff:
    print c

['a', 0, 'avocado']
['b', 2, 'blue']
['c', 3, 'charteuse']

avocado
blue
charteuse

In [40]:
# LIST COMPREHENSIONS
# Python only!
# like for loops

import math

flubber = [2, 5, 7, 4, 2, 5]
len(flubber)
[n**2 for n in flubber]
[y / 2.0 for y in flubber]
[math.sqrt(r) for r in flubber]

[1.4142135623730951,
 2.23606797749979,
 2.6457513110645907,
 2.0,
 1.4142135623730951,
 2.23606797749979]

In [44]:
# FUNCTIONS

def give_me_five():
    print "I'm gonna give you five"
    return 5

give_me_five()  
print "gave you five"

I'm gonna give you five
gave you five

In [94]:
a_new_var = give_me_five()
print a_new_var

I'm gonna give you five
5

In [51]:
point_1 = (1, 2, 2)
point_2 = (3, 4, 5)

pairs = zip(point_1, point_2)
'''
for x in pairs:    
    print x
    print " "
    print x[0]
    print " "
    print x[1]
    print " "
    print " "
 '''

[x for x in pairs] 
[x[0] for x in pairs] 
[x[1] for x in pairs]     # same thing

[3, 4, 5]