In [ ]:
%%html
<link rel="stylesheet" href="static/hyrule.css" type="text/css">

In [ ]:
%pylab inline

In [1]:
# pylab inline (either in the notebook or as an argument starting the notebook)
# will by default load numpy as np and matplotlib.pylab as plt
# Let's import everything else we used last time as well:

import pandas as pd
import seaborn as sns
from __future__ import division
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.mpl_style = 'default'

/Users/alexlove/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
X = np.linspace(-np.pi, np.pi, 256, endpoint=True)
C, S = np.cos(X), np.sin(X)

plt.figure(figsize=(8, 6), dpi=80)
plt.subplot(1, 1, 1)
plt.plot(X, C, color="blue", linewidth=1.0, linestyle="-")
plt.plot(X, S, color="green", linewidth=1.0, linestyle="-")
plt.xlim(-4.0, 4.0)
plt.xticks(np.linspace(-4, 4, 9, endpoint=True))
plt.ylim(-1.0, 1.0)
plt.yticks(np.linspace(-1, 1, 5, endpoint=True))
plt.savefig("exercice_2.png", dpi=72)
plt.show()

NameError: name 'np' is not defined

In [3]:
columns = """-- The attributes are (dontated by Riccardo Leardi, 
    riclea@anchem.unige.it )
    1) Alcohol
    2) Malic acid
    3) Ash
    4) Alcalinity of ash  
    5) Magnesium
    6) Total phenols
    7) Flavanoids
    8) Nonflavanoid phenols
    9) Proanthocyanins
    10)Color intensity
    11)Hue
    12)OD280/OD315 of diluted wines
    13)Proline"""

columns = columns.split('\n')
columns = [i.strip() for i in columns][2:]

# how does this work? - splits at the ) and takes the second element, then removes spaces and lowercases
columns = [i.split(')')[1].strip().lower() for i in columns]

# what does this do? - adds a class column at the beginning of the list
cols = ['class']
cols.extend(columns)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url, header=None)
wine.columns = cols
wine.head()

   class  alcohol  malic acid   ash  alcalinity of ash  magnesium  total phenols  flavanoids  nonflavanoid phenols  proanthocyanins  color intensity   hue  od280/od315 of diluted wines  proline
0      1    14.23        1.71  2.43               15.6        127           2.80        3.06                  0.28             2.29             5.64  1.04                          3.92     1065
1      1    13.20        1.78  2.14               11.2        100           2.65        2.76                  0.26             1.28             4.38  1.05                          3.40     1050
2      1    13.16        2.36  2.67               18.6        101           2.80        3.24                  0.30             2.81             5.68  1.03                          3.17     1185
3      1    14.37        1.95  2.50               16.8        113           3.85        3.49                  0.24             2.18             7.80  0.86                          3.45     1480
4      1    13.24        2.59  2.87               21.0        118           2.80        2.69                  0.39             1.82             4.32  1.04                          2.93      735

In [4]:
winegroups = wine.groupby('class')
print type(winegroups)
#print winegroups.head()

winegroups.describe()

<class 'pandas.core.groupby.DataFrameGroupBy'>

             alcalinity of ash    alcohol        ash  color intensity  flavanoids        hue   magnesium  malic acid  nonflavanoid phenols  od280/od315 of diluted wines  proanthocyanins      proline  total phenols
class
1     count          59.000000  59.000000  59.000000        59.000000   59.000000  59.000000   59.000000   59.000000             59.000000                     59.000000        59.000000    59.000000      59.000000
      mean           17.037288  13.744746   2.455593         5.528305    2.982373   1.062034  106.338983    2.010678              0.290000                      3.157797         1.899322  1115.711864       2.840169
      std             2.546322   0.462125   0.227166         1.238573    0.397494   0.116483   10.498949    0.688549              0.070049                      0.357077         0.412109   221.520767       0.338961
      min            11.200000  12.850000   2.040000         3.520000    2.190000   0.820000   89.000000    1.350000              0.170000                      2.510000         1.250000   680.000000       2.200000
      25%            16.000000  13.400000   2.295000         4.550000    2.680000   0.995000   98.000000    1.665000              0.255000                      2.870000         1.640000   987.500000       2.600000
      50%            16.800000  13.750000   2.440000         5.400000    2.980000   1.070000  104.000000    1.770000              0.290000                      3.170000         1.870000  1095.000000       2.800000
      75%            18.700000  14.100000   2.615000         6.225000    3.245000   1.130000  114.000000    1.935000              0.320000                      3.420000         2.090000  1280.000000       3.000000
      max            25.000000  14.830000   3.220000         8.900000    3.930000   1.280000  132.000000    4.040000              0.500000                      4.000000         2.960000  1680.000000       3.880000
2     count          71.000000  71.000000  71.000000        71.000000   71.000000  71.000000   71.000000   71.000000             71.000000                     71.000000        71.000000    71.000000      71.000000
      mean           20.238028  12.278732   2.244789         3.086620    2.080845   1.056282   94.549296    1.932676              0.363662                      2.785352         1.630282   519.507042       2.258873
      std             3.349770   0.537964   0.315467         0.924929    0.705701   0.202937   16.753497    1.015569              0.123961                      0.496573         0.602068   157.211220       0.545361
      min            10.600000  11.030000   1.360000         1.280000    0.570000   0.690000   70.000000    0.740000              0.130000                      1.590000         0.410000   278.000000       1.100000
      25%            18.000000  11.915000   2.000000         2.535000    1.605000   0.925000   85.500000    1.270000              0.270000                      2.440000         1.350000   406.500000       1.895000
      50%            20.000000  12.290000   2.240000         2.900000    2.030000   1.040000   88.000000    1.610000              0.370000                      2.830000         1.610000   495.000000       2.200000
      75%            22.000000  12.515000   2.420000         3.400000    2.475000   1.205000   99.500000    2.145000              0.430000                      3.160000         1.885000   625.000000       2.560000
      max            30.000000  13.860000   3.230000         6.000000    5.080000   1.710000  162.000000    5.800000              0.660000                      3.690000         3.580000   985.000000       3.520000
3     count          48.000000  48.000000  48.000000        48.000000   48.000000  48.000000   48.000000   48.000000             48.000000                     48.000000        48.000000    48.000000      48.000000
      mean           21.416667  13.153750   2.437083         7.396250    0.781458   0.682708   99.312500    3.333750              0.447500                      1.683542         1.153542   629.895833       1.678750
      std             2.258161   0.530241   0.184690         2.310942    0.293504   0.114441   10.890473    1.087906              0.124140                      0.272111         0.408836   115.097043       0.356971
      min            17.500000  12.200000   2.100000         3.850000    0.340000   0.480000   80.000000    1.240000              0.170000                      1.270000         0.550000   415.000000       0.980000
      25%            20.000000  12.805000   2.300000         5.437500    0.580000   0.587500   89.750000    2.587500              0.397500                      1.510000         0.855000   545.000000       1.407500
      50%            21.000000  13.165000   2.380000         7.550000    0.685000   0.665000   97.000000    3.265000              0.470000                      1.660000         1.105000   627.500000       1.635000
      75%            23.000000  13.505000   2.602500         9.225000    0.920000   0.752500  106.000000    3.957500              0.530000                      1.820000         1.350000   695.000000       1.807500
      max            27.000000  14.340000   2.860000        13.000000    1.570000   0.960000  123.000000    5.650000              0.630000                      2.470000         2.700000   880.000000       2.800000

In [ ]:
winegroups.sum()

In [5]:
print winegroups.alcohol.mean()
print winegroups[['alcohol', 'ash']].median()

#print winegroups.alcohol.median()
#print winegroups.agg({'alcohol': 'median'})

print winegroups.alcohol.nunique()
print winegroups.agg({'alcohol': lambda alcohol: alcohol.nunique() / alcohol.count()})

class
1    13.744746
2    12.278732
3    13.153750
Name: alcohol, dtype: float64
       alcohol   ash
class
1       13.750  2.44
2       12.290  2.24
3       13.165  2.38
class
1    49
2    50
3    45
Name: alcohol, dtype: int64
        alcohol
class
1      0.830508
2      0.704225
3      0.937500

In [6]:
#print len(wine)
#print wine.sort('alcohol').head(40)

#if you remove the count function, aggfunc defaults to mean
#what is the count function counting? # of ash values?
pivoted_wine = wine.pivot_table(values='ash',
                 columns='class',
                 index='alcohol',
                 aggfunc='count')    

print pivoted_wine.head()
#print len(pivoted_wine)

#not sure what reset_index does here
pivoted_wine_reset = pivoted_wine.reset_index()
#print len(pivoted_wine_reset)
print pivoted_wine_reset.head()

class     1    2   3
alcohol
11.03   NaN  1.0 NaN
11.41   NaN  1.0 NaN
11.45   NaN  1.0 NaN
11.46   NaN  1.0 NaN
11.56   NaN  1.0 NaN
class  alcohol   1    2   3
0        11.03 NaN  1.0 NaN
1        11.41 NaN  1.0 NaN
2        11.45 NaN  1.0 NaN
3        11.46 NaN  1.0 NaN
4        11.56 NaN  1.0 NaN

In [7]:
pivoted_wine_reset = pivoted_wine.reset_index()
print pivoted_wine_reset.head()

print pd.melt(pivoted_wine_reset,
              id_vars=['alcohol'],
              value_vars=[1, 2, 3],
              value_name='count').dropna().head()

class  alcohol   1    2   3
0        11.03 NaN  1.0 NaN
1        11.41 NaN  1.0 NaN
2        11.45 NaN  1.0 NaN
3        11.46 NaN  1.0 NaN
4        11.56 NaN  1.0 NaN
    alcohol class  count
51    12.85     1    1.0
55    12.93     1    1.0
59    13.05     1    4.0
60    13.07     1    1.0
63    13.16     1    1.0

### Aggregation Practice

1. This time, create a group by object on a rounded 'alcohol' field. You might want to break this out into:
    * create a new column with the rounded alcohol content
    * groupby on the new column
2. Explore the statistics from `.describe()` in this new groupby object. Across the new groups, what is interesting? What isn't?
3. Use a pivot table to show the count of each target type per rounded alcohol level.
4. Finally, melt the pivot table so that the columns represent each grouping and a count of that group.
5. **take a step back** What would be the `groupby()` code to create the same data frame you created in question 4?

In [8]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url, header=None)
wine.columns = cols

#create a new column with the rounded alcohol content
wine['rounded alc'] = wine['alcohol'].round()
wine.head()

#groupby on the new column
alcgroups = wine.groupby('rounded alc')

alcgroups.describe()
alcgroups.mean()
alcgroups.std()

#ash content increases
#alcalinity of ash decreases
#color intensity increases?
#proline increases

                class   alcohol  malic acid       ash  alcalinity of ash  magnesium  total phenols  flavanoids  nonflavanoid phenols  proanthocyanins  color intensity       hue  od280/od315 of diluted wines     proline
rounded alc
11.0         0.000000  0.206135    1.288057  0.304357           0.912871   9.831921       0.348473    0.360035              0.121518         0.940585         0.605441  0.441286                      0.441626  103.727206
12.0         0.295098  0.265384    1.014742  0.324405           3.341524  17.502042       0.552541    0.843863              0.126800         0.590455         1.440304  0.215290                      0.567647  169.797153
13.0         0.839117  0.288931    1.195424  0.276995           3.256409  12.286500       0.550301    0.922514              0.134100         0.500877         2.420317  0.214394                      0.742669  234.752309
14.0         0.857920  0.267975    1.067768  0.183751           3.070847  11.859446       0.648018    1.049728              0.105275         0.516168         1.848910  0.207434                      0.716505  329.802525
15.0         0.000000  0.056569    0.063640  0.155563           1.838478   4.242641       0.212132    0.502046              0.098995         0.586899         0.141421  0.120208                      0.084853   74.246212

In [32]:
pivoted_wine_alex = wine.pivot_table(values='alcohol',
                 columns='class',
                 index='rounded alc',
                 aggfunc='count')    

print pivoted_wine_alex.head()


pivoted_wine_alex_reset = pivoted_wine_alex.reset_index()

print pivoted_wine_alex_reset.head()

print pd.melt(pivoted_wine_reset,
              id_vars=['alcohol'],
              value_vars=[1, 2, 3],
              value_name='count').dropna().head()

print pd.melt(pivoted_wine_alex_reset,
              id_vars=['class'],
              value_vars=['rounded alc'],
              value_name='count').dropna().head()

class           1     2     3
rounded alc
11.0          NaN   4.0   NaN
12.0          NaN  48.0   5.0
13.0         17.0  17.0  30.0
14.0         40.0   2.0  13.0
15.0          2.0   NaN   NaN
class  rounded alc     1     2     3
0             11.0   NaN   4.0   NaN
1             12.0   NaN  48.0   5.0
2             13.0  17.0  17.0  30.0
3             14.0  40.0   2.0  13.0
4             15.0   2.0   NaN   NaN
         class        class  count
0  rounded alc  rounded alc   11.0
1  rounded alc  rounded alc   12.0
2  rounded alc  rounded alc   13.0
3  rounded alc  rounded alc   14.0
4  rounded alc  rounded alc   15.0

In [ ]:
import sqlite3
con = sqlite3.connect("../data/lahman.sqlite")
df = pd.read_sql("SELECT * from batting", con)
df = df.convert_objects(convert_numeric=True)
#df.head()

# Reminder: Many functions from data frames will work on groupby objects!
# What is below doing?
#df.groupby('year').head(1)
#df.groupby('year').describe()