In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
'''
Part 1: UFO
'''
ufo = pd.read_csv('../data/ufo.csv')   # can also read csvs directly from the web!
print ufo.head()
ufo.describe()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

           City Colors Reported Shape Reported  State            Time
count     80496           17034          72141  80543           80543
unique    13504              31             27     52           68901
top     Seattle          ORANGE          LIGHT     CA  7/4/2014 22:00
freq        646            5216          16332  10743              45

In [ ]:
# 1. change the column names so that each name has no spaces
#           and all lower case (replace spaces with underscores)

In [ ]:
# 2. Show a bar chart of all shapes reported

In [ ]:
# 3. Show a dataframe that only displays the reportings from Utah

In [ ]:
# 4. Show a dataframe that only displays the reportings from Texas

In [ ]:
# 5. Show a dataframe that only displays the reportings from Utah OR Texas

In [ ]:
# 6. Which shape is reported most often?

In [ ]:
'''
Part 2: FIFA GOALS
'''

goals = pd.read_csv('../data/fifa_goals.csv')
goals.sort_index(by='team1score', inplace = True)
goals.head()

In [ ]:
# 1. Some elements in the minute column have a  '+', remove it and cast each element as an int!
#     Hint: To replace, use a .apply lambda function to remove any plus symbols
#     Hint: look up pandas dataframes astype method
#     To check use the dataframe.describe() method to see if it is an integer

In [ ]:
# 2. Show goals scored in the first 5 minutes of a game

In [ ]:
# 3. Show goals scored after the regulation 90 minutes is over

In [ ]:
# 4. Show the top scoring players

In [ ]:
# 5. Show a histogram (distribution) of minutes with 20 bins

In [ ]:
# 6. Show a histogram of the number of goals scored by players